.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li.unreadNotification>a{
    background: #ececec;
}
.page-header .top-menu .dropdown-quick-sidebar-toggler>.dropdown-toggle i.noBeforeEnvelope:before{
    content:"\e04a" !important;
}

.page-header.navbar .menu-toggler.sidebar-toggler{
    margin-top: 20px;
}
.page-sidebar-closed .page-content-wrapper .page-content.errorPageContent{
    margin-left: 0 !important;
}