@import "basics/media";
@import "basics/devices";
@import "basics/colors";
@import "basics/basicMixins";
@import "basics/fonts";
@import "basics/helpers";
@import "header";
@import "footer";
@import "index";

body{
    font-family: 'Josefin Sans', sans-serif !important;
    font-size:16px;
}
.login .copyright{
	font-size:14px;
}
.form-control, output, .btn, .login .content .forget-password{
    font-size:16px;

}
.btn-sm{
    font-size: 14px;
}
.login .content{
	margin-top: 0;
}
#absLogo{
    position:absolute;
    top: 6px; 
    left:45px;
    margin-top: 0;
}
.login .content .has-error .form-control{
	border-color:#e73d4a;
}
.page-header.navbar .menu-toggler.sidebar-toggler{
    margin-top: 20px;
}
.page-sidebar-closed .page-content-wrapper .page-content.errorPageContent{
    margin-left: 0 !important;
}
.toast-bottom-right{
    bottom:32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px;
}

.select2-container .select2-selection--single{
    height:34px;
}
.fetchRow, .deleteRow{
    display: inline-block;
}
.noBorderInput{
    border:none;
}
.profile-usertitle-job{
    text-transform: initial;
}
em.underlined{
    display: inline-block;
    border-bottom:1px solid #333;
}
.feeds li .col2{
    width:150px;
    margin-left: -150px;
}
.feeds li a{
    color: $white;
}

.notificationDescription{
    display: inline-block;
    margin-top: 10px;
}
.notificationName{
    font-size:13px;
    color:#5b9bd1; 
    font-weight:bold;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li.unreadNotification>a{
    background: #ececec;
}
.page-header .top-menu .dropdown-quick-sidebar-toggler>.dropdown-toggle i.noBeforeEnvelope:before{
    content:"\e04a" !important;
}

.post.unreadMessage{
    background:#475763 !important;
}
.sendingGifContainer{
    position:absolute;
    bottom: 40px; 
    left:11px;
    right: 11px;
    background:transparent;
    padding:4px 0;
}
#sendingGif{    
    opacity: 0;
    width:50px;
}
#sendingGif.active{    
    opacity: 1;
}


.loadEarlierMessages{
    text-align: center;
    margin-top: 20px;
    button#loadEarlierMessages{
        display: inline-block;
        color:#90a1af;
        background:#36424c;
        padding:4px 12px;
        text-align: center;
        font-size:10px;
        border:none;
        &:hover{
            text-decoration: none;
        }
    }
}

/* Real Person jQuery plugin styles v2.0.1. */
.realperson-challenge {
    display: block;
    color: #000;
    width:40%;
    float:right;
}
.realperson-text {
    font-family: "Courier New",monospace !important;
    font-size: 5px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 3px;
    text-align: right;
}
.realperson-regen {
    padding-top: 4px;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 12px;
}
.realperson-disabled {
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}
.realperson-disabled .realperson-regen {
    cursor: default;
}
input#defaultReal{
    width:60%;
    float:left;
}
